* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-background-gray: rgb(248, 246, 246);
  --dark-gray-text: rgb(78, 78, 78);
  --light-gray: rgb(231, 231, 231);
  --light-gray-text: rgb(153, 152, 152);
  --font-family: "Open Sans", sans-serif;
}
body {
  position: relative;
  background: var(--color-background-gray);
}

header h1 {
  font-family: var(--font-family);
  text-transform: uppercase;
  font-size: 14px;
  color: var(--dark-gray-text);
  letter-spacing: 1px;
  margin: 30px 40px;
}

input {
  width: 400px;
  border: 2px solid rgb(207, 207, 207);
  border-radius: 6px;
  height: 40px;
  padding-left: 10px;
  margin-left: 40px;
}

input::placeholder {
  font-size: 16px;
}

input:focus {
  outline-color: rgb(124, 176, 236);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 2px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
  z-index: 99;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
  margin: 40px;
}

.card,
.modal {
  font-family: var(--font-family);
  background-color: white;
  border: 2px solid var(--light-gray);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 200;
  font-size: 12px;
}

.card-container {
  display: flex;
  margin: 1.25em;
}

.card:hover {
  transform: scale(1.02);
}

img {
  border-radius: 50%;
  max-width: 80px;
  margin-right: 20px;
}

.text-container .name {
  font-size: 16px;
  margin-bottom: 2px;
}

.text-container .email,
.city {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
  color: var(--light-gray-text);
}

.modal .name {
  font-size: 14px;
  margin-top: 10px;
}

.modal .text-container p {
  color: rgb(172, 168, 168);
  font-size: 12px;
}

.modal .text-container .city,
.email {
  margin-top: 10px;
}

.modal .text-container .city {
  margin-bottom: 30px;
}

hr {
  margin: 0 auto;
  border: 1px solid var(--light-gray);
  width: 80%;
  margin-bottom: 30px;
}

.modal .text-container .address,
.bday {
  margin-top: 10px;
}

.slide {
  position: relative;
}

.btn {
  background: rgb(184, 180, 180);
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 6px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: white;
  position: absolute;
  top: 150px;
}

.prev-Btn {
  left: 30px;
}

.next-Btn {
  right: 30px;
}

.btn:hover {
  transform: scale(1.1);
}

.modal img {
  margin-right: 0;
}
