* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-background-gray: rgb(248, 246, 246);
  --dark-gray-text: rgb(78, 78, 78);
  --light-gray: rgb(231, 231, 231);
  --light-gray-text: rgb(153, 152, 152);
  --font-family: "Open Sans", sans-serif;
}
body {
  position: relative;
  background: var(--color-background-gray);
  margin: 40px;
}

header h1 {
  font-family: var(--font-family);
  text-transform: uppercase;
  font-size: 14px;
  color: var(--dark-gray-text);
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}

.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 15px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 20px;
}

.card {
  font-family: var(--font-family);
  background-color: white;
  border: 2px solid var(--light-gray);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.card-container {
  display: flex;
  margin: 1.25em;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  border-radius: 50%;
  max-width: 80px;
  margin-right: 20px;
}

.text-container .name {
  font-size: 16px;
  margin-bottom: 2px;
}

.text-container .email,
.city {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
  color: var(--light-gray-text);
}
